<div class = "modal fade" data-bs-backdrop = "static"  id="modalSoloVerAviso<%=aviso.idAviso%>">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aviso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col col-4">
                            <h3>Nombre Usuario: <%= aviso.nombreUsuAviso %> </h3>
                        </div>
                        <div class="col offset-2 col-6">
                            <% if (aviso.tipo === 0) { %>
                            <h4>Aviso: <%= aviso.idAviso %> Sugerencia</h4>
                            <% } else if (aviso.tipo == 1) { %>
                            <h4>Aviso: <%= aviso.idAviso %> Incidencia</h4>
                            <% } else { %>
                            <h4>Aviso: <%= aviso.idAviso %> Felicitacion</h4>
                            <% } %>
                        </div>
                    </div>
                    <div class="row">
                        <h4>Fecha aviso: <%= aviso.fecha %></h4>
                    </div>
                    <div class="row">
                        <h4>Comunicaciones: Correo Electrónico</h4>
                    </div>
                    <div class="row">
                        <% if (aviso.perfil == 0) { %>
                        <h4>Perfil: Alumno </h4>
                        <% }else if (aviso.perfil == 1) { %>
                        <h4>Perfil: PAS </h4>
                        <% }else if (aviso.perfil == 2) { %>
                        <h4>Perfil: PDI </h4>
                        <% }else { %>
                        <h4>Perfil: Antiguo Alumno </h4>
                        <% } %>
                    </div>
                    <div class="row">
                        <h4>Observaciones</h4>
                    </div>
                    
                    <div class="row">
                        <textarea name="" readonly><%= aviso.texto %></textarea>
                    </div>
                    <div class="row">
                        <h4>Comentarios Técnico</h4>
                    </div>
                    <div class="row">
                        <textarea readonly><%= aviso.comentariosTecnico %></textarea>
                    </div>
                    <div class="row mt-2">
                        <button class="btn btn-info col offset-3 col-6" data-bs-dismiss="modal">Cerrar</button>
                    </div>

                </div>
            </div>  
        </div>
    </div>
</div>


